<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- headFragment를 포함하여 HTML 문서의 head 부분을 정의합니다. -->
    <th:block layout:replace="~{fragments/head :: headFragment}"></th:block>
</head>
<body>
<!-- 헤더를 포함합니다. -->
<header layout:replace="~{fragments/header :: headerFragment}"></header>

<!-- 네비게이션 바 -->
<nav layout:replace="~{fragments/navbar}">
    <!-- 일반 사용자 네비게이션 -->
</nav>



<!-- 메인 콘텐츠 -->
<div layout:fragment="mainContent">
    <!-- 여기에 동적으로 변경될 콘텐츠를 삽입합니다. -->
</div>


<!-- 푸터를 포함합니다. -->
<footer layout:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
