<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/adm_layout}">
<head>
    <title>메뉴 설정</title>
</head>
<main layout:fragment="mainContent" class="main-container container">
    <h5 class="my-3 border-bottom pb-2">메뉴 추가</h5>

    <!-- 메뉴 추가 폼 (토글) -->
    <form th:action="@{/adm/menu/add}" th:object="${menu}" method="post" class="m-2">
        <div class="form-group mb-3">
            <label for="menuName">메뉴 이름:</label>
            <input type="text" id="menuName" name="menuName" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="menuLink">링크:</label>
            <input type="url" id="menuLink" name="menuLink" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">추가하기</button>
    </form>
</main>
</html>


