<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/post_layout}">

    <main layout:fragment="mainContent" class="main-container container content">

        <div class="row-12 d-flex">
            <div class="col d-flex flex-column justify-content-start">
                <div class="col d-flex justify-content-start m-2 ps-3">
                    <h2 class="p-16" th:text="${post.postSubject}"></h2> 
                </div>
                <div class="col d-flex m2 ps-3">
                    <div class="text-muted me-2">작성자: <span th:text="${post.createUser}"></span></div>
                    <!-- <div class="text-muted">작성 날짜: <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span></div> -->
                </div>
                <div class="col d-flex m2 ps-3">
                    <div class="text-muted me-2">작성 날짜: <span th:text="${post.postCreated}"></span></div>   
                    <div class="text-muted me-2">조회: <span th:text="${post.viewCount}"></span></div>
                </div>
            </div>
            <div class="col d-flex justify-content-end align-items-center m-2 ps-3">
                <div class="col d-flex justify-content-end h-50">
                    <a th:href="@{/board/{boardTable}(boardTable=${boardTable})}" class="btn btn-primary mx-3">목록</a>
                    <!-- 수정 버튼 -->
                    <a th:href="@{/board/{boardTable}/modify/{postId}}" class="btn btn-primary mx-3" sec:authorize="isAuthenticated()">수정</a>
                    <!-- 삭제 버튼 -->
                    <a th:href="@{/#}" class="btn btn-primary mx-3" sec:authorize="isAuthenticated()">삭제</a>
                </div>
            </div>
        </div>

        <!-- 본문 내용 -->
        <div class="card my-3">
            <div class="card-body d-flex flex-column">
                <div class="card-text" th:text="${post.postContent}"></div>
            </div>
            <div class="card-body d-flex flex-column">
                <a class="card-text" th:text="'링크 1: ' + ${post.postLink1}" th:href="${post.postLink1} "></a>
                <a class="card-text" th:text="'링크 2: ' + ${post.postLink2}" th:href="${post.postLink2} "></a>
                <a class="card-text" th:text="'링크 3: ' + ${post.postLink3}" th:href="${post.postLink3} "></a>
            </div>
        </div>
    </main>
</html>
