<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/post_layout}">  >

<main layout:fragment="mainContent" class="main-container container d-flex flex-column justify-content-center align-items-center">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/signup}" th:object="${signupForm}" method="post" style="width: 30%;">
        <div th:replace="~{error/error_field :: errorFormFragment}"></div>
        <div class="mb-3">
            <input type="text" th:field="*{userName}" class="form-control" placeholder="이름 Name" autofocus>
        </div>
        <div class="mb-3">
            <input type="text" th:field="*{userId}" class="form-control" placeholder="아이디 ID">
        </div>
        <div class="mb-3">
            <input type="password" th:field="*{userPwd}" class="form-control" placeholder="비밀번호 Password">
        </div>
        <div class="mb-3">
            <input type="email" th:field="*{userEmail}" class="form-control" placeholder="이메일 Email">
        </div>
        <button type="submit" class="btn btn-primary w-100">가입하기</button>
    </form>
</main>
</html>
