<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<aside layout:fragment="asideContent" class="aside-container">
  <nav class="nav flex-column navbar navbar-light">
    <a class="navbar-brand m-0">관리자 대시보드</a>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/adm/board">게시판 관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/adm/chat">채탱방 관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">사용자 관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/adm/menu">상단바 관리</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">기타 설정</a>
      </li>
    </ul>
  </nav>
</aside>


</html>
