/* 슬라이드 영역 스타일 */
.hamburger-container {
    /* 화면에 고정된 위치 */
    position: absolute;
    /* 1400px 영역의 가운데 맞춤 */
    left: calc((100% - 1500px));
    /* 상단에 위치 */
    top: 130px;
    /* 너비를 100%로 설정 */
    width: 1200px;
    /* 가로형 메뉴의 높이 */
    height: 200px;
    /* 배경색 설정 */
    background-color: #f8f9fa;
    /* 그림자 효과 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 속성의 변화를 부드럽게 전환 */
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    /* 다른 요소보다 앞에 위치 */
    z-index: 999;
    /* 넘치는 콘텐츠를 보이게 함 */
    overflow: visible;
    /* 투명도 설정 */
    opacity: 0;
    /* 요소를 보이지 않게 설정 */
    visibility: hidden;
    /* 박스 크기 설정 */
    box-sizing: border-box;
    /* 디스플레이 속성 설정 */
    display: none;
}

.hamburger-container.active {
    display: block;
    /* 투명도 설정 */
    opacity: 1;
    /* 요소를 보이게 설정 */
    visibility: visible;
    /* position: sticky; */
}

.hamburger-content {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hamburger-menu {
    /* 너비 설정 */
    width: 100%;
    /* 높이 설정 */
    height: 100%;
    /* 디스플레이 속성 설정 */
    display: flex;
    /* 플렉스박스의 주축을 수직축으로 설정 */
    flex-direction: row;
    /* 플렉스박스의 주축을 수직축으로 설정 */
    justify-content: center;
    /* 플렉스박스의 주축을 수직축으로 설정 */
    align-items: center;
    padding: 10px;
}

.board-zone {
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

.board-list-emp {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.board-list-emp p {
    color: #293fad;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.board-item {
    width: 100%;
}

.function-zone {
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border-left: 1px solid #e0e2e5;
}

.function-zone li{
    text-align: center;
}

.function-zone li a{
    color: #000; /* 링크 색상 설정 */
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.function-zone li a:hover {
    color: #007bff; /* 링크에 마우스 오버 시 색상 변경 */
}