<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/adm_layout}"> <!-- 기본 레이아웃을 사용 -->

    <main layout:fragment="mainContent" class="main-container container">
        <!-- 이 부분에 페이지별 고유한 콘텐츠가 작성됩니다 -->
        <div class="card shadow p-4">
            <h2 class="h2 font-weight-bold mb-4" style="text-align: center;">관리자 대시보드</h2>
            <p class="mb-4" style="text-align: center;">현재 페이지 점검 및 개선 진행중입니다.</p>
        </div>
    </main>

</html>